.botonBusiness{
    display: inline-block  !important;
    padding: 15px 40px;
    border: none;
    left: 525px;
    top: 714px;
    background: linear-gradient(74.11deg, #245A6E 31.66%, #3092A9 108.98%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    color: #fff;
    transition: transform .2s;
    font-size: 24px;
}

.botonBusiness:hover{
    transform: scale(1.175);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}


.botonBusiness:hover + br + .flecha{
    transform: scale(1.175);
}


.imagenLogoBusiness{
    
    width: 218px;
    height: 287px;
    left: 527px;
    /*top: 137px;
    margin-top: 137px;*/
    top: 110px;
    margin-top: 110px;
 
}
.textoCenterBusiness {
    left: 323px;
    top: 445px;
    font-family: Saira;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 38px;
    text-align: center;
    color: #fff;
}

.tituloParrafo{
    font-family: Saira;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 76px;
    text-align: center;
    color: #FFFFFF;
}

@media screen and (max-width: 960px) {
   
    #header4 {
        display: none;
      }

    .imagenLogoBusiness{
        margin-top: 30px;     
    }

    .titulo-galeria{
        display: block;
        width: 100%;
        font-family: Saira;
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        text-align: center;
        color: #FFFFFF;
        margin-top: 10px !important;
    }
}

.form-container{
    background-color: #000;
    border-radius: 20px;
    border: 1px solid #fff;
    padding: 2%;
    display: flex;
    flex-wrap: wrap;
}

.my-row{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#caracteristicas_adicionales{
    resize: none;
    overflow: auto;
    height: 170px !important;
}

.select-wrapper input.select-dropdown{
    color: #fff;
}

.margin-siguiente{
    margin-top: 85px;
}
