.textocasos{
    text-align: center;
    margin-top: 152px;
    color: white;

    font-family: Saira;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 63px;
    text-align: center;
}


.textoCentercasos{

    left: 659px;
    top: 445px;
    font-family: Saira;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 38px;
    text-align: center;
    color: #fff;
    width: 616px;
    margin: auto;
}

.tama{
    margin-top: 50px;
}


@media screen and (max-width: 960px) {
    .textoCentercasos {
    
        width: 70%;
       
    }

    .tama{
        margin-top: -200px;
    }

    .textocasos {
        margin-top: 5px;
    }
   
}