
.imagenLogo{
    
    width: 218px;
    height: 287px;
    left: 527px;
    top: 137px;
    margin-top: 137px;
 
}


.imagenDerecha1{
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    padding: 10px;
    width: 360.92px;
    left: 1083.19px;
    top: -2.95px;
    background-repeat: round;
    transition: transform .2s; 
}

.imagenDerecha2{
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    padding: 10px;
    width: 360.92px;

    left: 1083.19px;
    top: -2.95px;
    background-repeat: round;
    
    transition: transform .2s; 
}

.imagenDerecha3{
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    padding: 10px;
    width: 360.92px;

    left: 1083.19px;
    top: -2.95px;
    background-repeat: round;
    /*margin: -26px;*/
    transition: transform .2s; 
}

.contenedorcentral{
    width: 60%;
    margin: auto;
    padding: 5px;
    text-align: center;
}
.boton{
    display: inline-block  !important;
    padding: 15px 40px;
    border: none;
    left: 525px;
    top: 714px;
    background: linear-gradient(74.11deg, #FD4E5A 31.66%, #82799E 108.98%);
    border-radius: 20px;
    color: #fff;
    transition: transform .2s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.boton:hover{
    transform: scale(1.175);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.textoCenter{

    left: 323px;
    top: 445px;
    font-family: Saira;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 38px;
    text-align: center;
    color: #fff;
}


.text-button{
   
    width: 152px;
    height: 58px;
    left: 560px;
    top: 675px;
    font-family: Saira;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    text-align: center;
    color: #FFFFFF;
}

.flecha{

    width: 48px;
    height: 48px;
    margin-top: 30px  !important;
    background-image: url("../Imagenes/hacia-abajo.png");
    background-repeat: no-repeat;
    margin: auto;  
    transition: transform .2s;
}

.boton:hover + br + .flecha{
    transform: scale(1.175);
}





.fondoHome{
    position: absolute;
    width: 1451px;
    height: 900px;
    left: -11px;
    top: 0px;
    background: rgba(0, 0, 0, 0.55);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.contenedorImagenesHome{
    text-align: center;
    float: right;
    margin-top: 0px;
    z-index: 999999;
    position: relative;
}

.contenedor{
    width: 381.92px;
    height: 364.23px;
    
}

img{border:none;
     outline: none;
    
}

@media screen and (max-width: 960px) {
    .contenedorImagenesHome{
        margin: auto;
        text-align: center;
        float: none;
        margin-top: 20px;
    }

    #header {
        display: none;
      }
      
}

@media only screen and (min-width: 768px){
    .seccion{

        height: auto;
        top: 0;
        right: 0;
        margin-right: 15px;
        position: absolute;
    }
}

@media only screen and (min-width: 1198px) {
    .seccion{
        height: auto;
        top: 0;
        right: 0;
        margin-right: 15px;
        position: absolute;
    }

    .carousel-root.tablita{
       position: absolute;
       top: 0%;
       right: 0%;
       margin-top: 10px;
       margin-right: 10px;
       height: 100vh;
   }

   .carousel-root.tablita > .carousel{
        top: 0%;
        right: 0%;
        margin-top: 10px;
        margin-right: 10px;
        height: 100vh;
   }
}

@media only screen and (min-width: 1088px) and (max-width: 1198px){
    .carousel-root.tablita{
        position: absolute;
        top: 0%;
        right: 0%;
        margin-top: 10px;
        margin-right: 10px;
        height: 100vh;
        width: 40vh;
    }
 
    .carousel-root.tablita > .carousel{
         top: 0%;
         right: 0%;
         margin-top: 10px;
         margin-right: 10px;
         height: 100vh;
         width: 40vh;
    }
}

@media only screen and (min-width: 961px) and (max-width: 1088px){
    .carousel-root.tablita{
        position: absolute;
        top: 0%;
        right: 0%;
        margin-top: 10px;
        margin-right: 10px;
        height: 120vh;
        width: 40vh;
    }
 
    .carousel-root.tablita > .carousel{
         top: 0%;
         right: 0%;
         margin-top: 10px;
         margin-right: 10px;
         height: 120vh;
         width: 40vh;
    }
}

@media only screen and (max-width: 960px){
    .carousel-root.tablita{
        position: absolute;
        top: 0%;
        right: 0%;
        margin-top: 10px;
        margin-right: 10px;
        height: 120vh;
        width: 30vh;
    }
 
    .carousel-root.tablita > .carousel{
         top: 0%;
         right: 0%;
         margin-top: 10px;
         margin-right: 10px;
         height: 120vh;
         width: 30vh;
    }
}

@media all and (max-width: 690px) and (min-width: 530px){
    .col.s8.m10.l10{
        width: 100%;
    }
    .iconos{
        margin-top: 60px;
        position: absolute;
    }
}

@media all and (max-width: 690px) and (min-width: 601px){
    .carousel-root.tablita{
        position: absolute;
        top: 0%;
        left: 50%;
        right: 0%;
        margin: 0 0 0 0;
        height: 100vh;
        width: 40vh;
    }
 
    .carousel-root.tablita > .carousel{
         top: 0%;
         left: 0%;
         right: 0%;
         margin: auto;
         height: 120h;
         width: 40vh;
    }
}

@media all and (max-width: 601px){
    .carousel-root.tablita{
        position: absolute;
        top: 0%;
        left: 0%;
        right: 0%;
        margin: auto;
        height: 120vh;
        width: 40vh;
    }
 
    .carousel-root.tablita > .carousel{
         top: 0%;
         left: 0%;
         right: 0%;
         margin: auto;
         height: 120vh;
         width: 40vh;
    }
}

@media all and (max-width: 530px) {
    .col.s8.m10.l10{
        width: 100%;
    }
    .iconos{
        display: none;
    } 
}

div.slider-wrapper.axis-vertical {
    height: 100%;
}

button.control-arrow.control-next.control-disabled{
    display: none;
}

button.control-arrow.control-prev.control-disabled{
    display: none;
}
