.mejora{
    font-family: Saira;
font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 63px;
text-align: center;

color: #FFFFFF;
}

.imagenLogoMejora{
    
    width: 218px;
    height: 287px;
    left: 527px;
    top: 137px;

 
}


.mejoraArmado{
    font-family: Saira;
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 76px;
text-align: center;

color: #FFFFFF;
}

.logoderecha{

    margin-top: 183px;
}

.botonQuien{
    float: right;
    margin-right: -100px;
    width: 257px;
    text-align: center;
}

.flechaMejora{
    width: 48px;
    height: 48px;
    margin-top: 80px !important;
    background-image: url("../Imagenes/hacia-abajo.png");
    background-repeat: no-repeat;
    margin: auto;
    float: right;
    margin-right: -150px;

}

.textoSomosmejora{
    text-align: center;
    margin-top: 120px;
    color: white;
    text-decoration: underline;
    font-family: Saira;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 63px;
    text-align: center;
}

.logoderechaMejora{
    margin-top: 183px;
}

@media screen and (max-width: 960px) {
    .textoSomosmejora {
       margin-top: -200px;
    }
   
    .botonQuien {
        margin: auto;
        margin-right: 107px;
    }

    .logoderechaMejora {
        margin-top: 10px;
        text-align: center;
    }

    .contenedorImagenesMejora {
        margin: auto;
        text-align: center;
        float: none;
        margin-top: 50px;
    }
}

@media only screen and (max-width: 768px) {

    .botonQuien {
        margin-right: 50px;
    }
  }