.texto{
    color: white;
}

.imagenLogosomos{
    
    /*width: 456px;
    height: 382px;
    left: 155px;
    margin: 0;
    position: fixed;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-left: 100px;*/
    position: relative;
    width: 100%;
}

h1{
    color: white;
    text-decoration: underline ;
}

.textoSomos{
    text-align: center;
    /*margin-top: 120px;*/
    color: white;
    text-decoration: underline ;
    font-family: "Moby Regular";
    font-style: normal;
    font-weight: 500;
    font-size: /*40px*/6.3vh;
    line-height: /*63px*/10.1vh;
    text-align: center;
}

.textoCenterSomos{

    /*left: 659px;
    top: 445px;*/
    font-family:  "Space Mono", "Montserrat";
    font-style: normal;
    font-weight: normal;
    font-size: /*24px*/3.6vh;
    line-height: /*38px*/ 5.2hv;
    text-align: left;
    color: #fff;
    padding-left: 4%;
    padding-right: 4%;
    margin: 0;
    /*width: 616px;*/
    /*margin: auto;*/
}

.contenedorsomos{
    text-align: center;
}

.contenedorcentralsomos{
    width: 90%;
    height: 100%;
    margin-top: 34% !important;
    margin: auto;
    padding: 5px;
    text-align: center;
    /*margin-top: 50%;
    margin-left: 50%;*/
}



@media screen and (max-width: 960px) {
  
   
.contenedorcentralsomos{
    margin: auto;
   text-align: center;
}

.imagenLogosomos {
    width: 100%;
    /*margin-top: -200px;*/

}

.textoSomos {
    margin-top: 10px;
}

.textoCenterSomos {
    width: 100%;
}
}

@media screen and (max-width: 600px){
    .contenedorcentralsomos{
        width: 90%;
        height: 100%;
        margin-top: 5% !important;
        margin: auto;
        padding: 5px;
        text-align: center;
        /*margin-top: 50%;
        margin-left: 50%;*/
    }
}

.somos-main-padding{
    padding-left: 6%;
}

.custom-flex {
    display: flex;
    flex-wrap: wrap;
}

.mt-r2{
    margin-top: 20px !important;
}

.p-c-1{
    padding: 10px !important;
}

.subtexto-somos{
    text-align: center;
    color: white;
    text-decoration: none;
    font-family: "Moby Regular";
    font-style: normal;
    font-weight: 400;
    font-size: /*40px*/5.0vh;
    line-height: /*63px*/10.1vh;
}

.text-shade-q{
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.margin-row-1{
    margin-top: 40px;
}

.image-start-1{
    width: 90%;
    padding: 2%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.imagenes-staff{
    display: block;
    margin: auto;
    width: 100%;
    max-height: 400px;
    max-width: 300px;
    border-radius: 6px;
    box-shadow: 0px 0px 10px 0.5px #e99f9f;
}
