.texto{
    color: white;
}

.imagenLogosomos{
    
    /*width: 456px;
    height: 382px;
    left: 155px;
    margin: 0;
    position: fixed;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-left: 100px;*/
    position: relative;
    width: 100%;
}

h1{
    color: white;
    text-decoration: underline ;
}

.textoSomos{
    text-align: center;
    /*margin-top: 120px;*/
    color: white;
    text-decoration: underline ;
    font-family: Saira;
    font-style: normal;
    font-weight: 500;
    font-size: /*40px*/6.3vh;
    line-height: /*63px*/10.1vh;
    text-align: center;
}

.textoCenterSomos{

    /*left: 659px;
    top: 445px;*/
    font-family: Saira;
    font-style: normal;
    font-weight: normal;
    font-size: /*24px*/3.8vh;
    line-height: /*38px*/ 5.4hv;
    text-align: center;
    color: #fff;
    padding-left: 4%;
    padding-right: 4%;
    margin: 0;
    /*width: 616px;*/
    /*margin: auto;*/
}

.contenedorsomos{
    text-align: center;
}

.contenedorcentralsomos{
    width: 90%;
    height: 100%;
    margin-top: 34% !important;
    margin: auto;
    padding: 5px;
    text-align: center;
    /*margin-top: 50%;
    margin-left: 50%;*/
}



@media screen and (max-width: 960px) {
  
   
.contenedorcentralsomos{
    margin: auto;
   text-align: center;
}

.imagenLogosomos {
    width: 100%;
    /*margin-top: -200px;*/

}

.textoSomos {
    margin-top: 10px;
}

.textoCenterSomos {
    width: 100%;
}
}

@media screen and (max-width: 600px){
    .contenedorcentralsomos{
        width: 90%;
        height: 100%;
        margin-top: 5% !important;
        margin: auto;
        padding: 5px;
        text-align: center;
        /*margin-top: 50%;
        margin-left: 50%;*/
    }
}

.somos-main-padding{
    padding-left: 6%;
}

.custom-flex {
    display: flex;
    flex-wrap: wrap;
}