
@charset "UTF-8";

@font-face {
  font-family: Moby Regular;
  src: url("./Fonts/MOBY_REG.TTF");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("../src/Imagenes/fondo.png") no-repeat center center fixed;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-70%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(70%);
    opacity: 0.5;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in-animate{
  animation: 1s ease-out 0s 1 slideInFromLeft !important;
}

.slide-in-animate-right{
  animation: 1s ease-out 0s 1 slideInFromRight !important;
}

.stateful-slide-left[slide='1']{
  animation: 1s ease-out 0s 1 slideInFromLeft !important;
}

.stateful-slide-right[slide='1']{
  animation: 1s ease-out 0s 1 slideInFromRight !important;
}

@keyframes zoom-load {
  0%   {
    transform: scale(0.4);
    opacity: 0.4;
  }
  100% {
    transform: scale(1);
    opacity: 1; 
  }
}

.zoom-on-load {
  animation: 0.90s ease-out 0s 1 zoom-load;
}

.stateful-zoom[animate="1"]{
  animation: 0.90s ease-out 0s 1 zoom-load;
}

.home-background{
  background: url("../src/Imagenes/fondo.png") no-repeat center center fixed !important;
  background-size: cover;
}

.gaming-background{
  background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url("../src/Imagenes/Optimized-FondoGaming.png") no-repeat center center fixed !important;
  background-size: cover !important;
}

.business-background{
  background: linear-gradient( rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65) ), url("../src/Imagenes/FondoBusiness_1440x900.png") no-repeat center center fixed !important;
  background-size: cover !important;
}

.creative-background{
  background: linear-gradient( rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65) ), url("../src/Imagenes/FondoCreative.png") no-repeat center center fixed !important;
  background-size: cover !important;
}

nav {
  box-shadow: none !important;
  background-color: rgba(0, 0, 0, 0) !important;
}

.titulo-galeria{
  display: block;
  width: 100%;
  font-family: "Moby Regular";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 110px !important;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.linea-galeria{
  margin-left: 1% !important;
  margin-right: 1% !important;
  margin-bottom: 4vh !important;
  padding: 6px !important;
  width: 100%;
}

.control-galeria{
  height: 230px;
  width: 100%;
  max-width: 280px !important;
}

.no-padding{
  padding: 0 !important;
}

.pointer{
  cursor: pointer;
}

i.icon-white {
  color: white;
}

._1bpcM {
  align-items: center;
  align-self: flex-end;
  background-color: rgb(79, 206, 93) !important;
  border-radius: 50%;
  box-shadow: rgb(0 0 0 / 15%) 0px 3px 12px;
  color:  rgb(255, 255, 255) !important;
  cursor: pointer;
  /*display: block;*/
  font-size: 2em;
  height: 58px !important;
  justify-content: center;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 20px;
  outline: transparent;
  -webkit-user-select: none;
  user-select: none;
  width: 58px !important;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  position: fixed !important; 
  bottom: 12px;
  right: 18px !important;
}

.check-mouse-gabinete{
  position: relative !important;
  top: 0;
}

._1fOYS {
    display: flex;
    animation: _11FGp 250ms ease-in-out both;
}
._2iWL7 {
    width: 360px;
    box-shadow: rgb(0 0 0 / 10%) 0px 12px 24px 0px;
    flex-direction: column;
    border-radius: 15px;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    transform: translate3d(0px, 0px, 0px);
    touch-action: auto;
    margin-bottom: 15px;
    display: none;
    position: absolute;
    margin: 20px;
    bottom: 140px;
    right: 30px;
}

._2W95M{
  display: block !important;
}

@media (min-width: 481) {
  ._2iWL7 {
    width: 360px;
    bottom: 140px;
    right: 30px;
    bottom: 140px !important;
    top: auto !important;
  }
}

@media (min-width: 315px) and (max-width: 480px){
  ._2iWL7 {
    width: 300px !important;
    right: 2px !important;
    bottom: auto !important;
    top: 169px;
  }
}


@media all and (max-width: 530px) {
  .iconos{
      /*float: right;
      position: absolute;
      width: 20px;*/
      display: none;
  } 
}

.redes-index{
  margin: 20px;
  background: #FD4E5A;
  padding: 12px 14px;
  border-radius: 100%;
  color: black;
  position: fixed;
  float: right;
  z-index: 9999;
  top: 85%;
  border: solid black 1px;
}

.center-block{
  display: block !important;
  margin: auto !important;
}

.normalize-material-tabs{
  margin: 0 0 0 0 !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
  padding-bottom: 18px !important;
}

.pro-sidebar .pro-menu .pro-menu-item{
  width: 100%;
  display: block;
  font-family: Saira;
}

.pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item{
  margin: 0 !important;
  padding: 0 !important;
}

.pro-inner-item p.outer {
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 10px;
}

.pro-inner-item p.inner{
  margin: 0 !important;
  padding: 0 !important;
}

.justificar{
  text-align: justify !important;
}

.centrar-text{
  text-align: center !important;
}
.rounded-img{
  border-radius: 8px;
}