body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("../src/Imagenes/fondo.png") no-repeat center center fixed;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-70%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(70%);
    opacity: 0.5;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in-animate{
  animation: 1s ease-out 0s 1 slideInFromLeft !important;
}

.slide-in-animate-right{
  animation: 1s ease-out 0s 1 slideInFromRight !important;
}

.stateful-slide-left[slide='1']{
  animation: 1s ease-out 0s 1 slideInFromLeft !important;
}

.stateful-slide-right[slide='1']{
  animation: 1s ease-out 0s 1 slideInFromRight !important;
}

@keyframes zoom-load {
  0%   {
    transform: scale(0.4);
    opacity: 0.4;
  }
  100% {
    transform: scale(1);
    opacity: 1; 
  }
}

.zoom-on-load {
  animation: 0.90s ease-out 0s 1 zoom-load;
}

.stateful-zoom[animate="1"]{
  animation: 0.90s ease-out 0s 1 zoom-load;
}
